@import "_variables";
@import "header";
@import "nav";
@import "card";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  line-height: 13px;
}

* {
  box-sizing: border-box;
}

.catalog {
  margin: 50px 0 78px;
  display: flex;
  justify-content: center;

  &__products {
    display: flex;
    flex-wrap: wrap;
    max-width: #{$cardSize * 4 + $cardMarginX * 2 * 4};
  }
}
